<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dare to Innovate</title>
  <link href="app/css/custom/style.default.css" rel="stylesheet" type="text/css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="app/js/html5shiv.js"></script>
  <script src="app/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

<!-- Preloader -->


<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <div class="signin-info">
                    <div class="logopanel loginPageLogo">
                        <h1><%= image_tag("Logo_EN.jpg", height:'100', width:'100'); %></h1>
                    </div><!-- logopanel -->
                
                    <div class="mb20"></div>
                
                    <h5><strong>Welcome to DTI App!</strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Manage Expense(s)</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Ability to add more forms and view</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> View Billing history for Entrepreneur</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
                    </ul>
                    
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
                
                <form method="post" action="#" class="formStyle" name="form2">
                    <h4 class="nomargin">Sign In</h4>
                    <p class="mt5 mb20">Login to access your account.</p>
                	<select class="form-control" name="userType" id="userType">
                    <option value="">Please select portal</option>
                    <option value="admin">Admin Portal</option>
                    <option value="entrepreneur">Entrepreneur Portal</option>
                    </select>
                    <input type="text" class="form-control uname" id="username" placeholder="Username" />
                    <input type="password" class="form-control pword" id="password" placeholder="Password" />
                    <a href="#"><small>Forgot Your Password?</small></a>
                    <input type="button" class="btn btn-success btn-block login-carrier" id="login" value="Sign In" onClick="checkValidate();">
                    
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015. All Rights Reserved. Dare to Innovate
            </div>
            <div class="pull-right">
                <a href="#" target="_blank">Contact Us</a> &nbsp;|&nbsp; <a href="#" target="_blank">Help</a>
            </div>
        </div>
        
    </div><!-- signin -->
  
</section>
<script src="app/js/jquery-1.10.2.min.js"></script>
<script src="app/js/jquery-migrate-1.2.1.min.js"></script>
<script src="app/js/jquery-ui-1.10.3.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>
<script src="app/js/modernizr.min.js"></script>
<script src="app/js/jquery.sparkline.min.js"></script>
<script src="app/js/toggles.min.js"></script>
<script src="app/js/retina.min.js"></script>
<script src="app/js/jquery.maskedinput.min.js"></script>
<script src="app/js/jquery.tagsinput.min.js"></script>
<script src="app/js/bootstrap-fileupload.min.js"></script>
<script src="app/js/bootstrap-wizard.min.js"></script>
<script src="app/js/jquery.datatables.min.js"></script>
<script src="app/js/dataTables.responsive.min.js"></script>
<script src="app/js/wysihtml5-0.3.0.min.js"></script>
<script src="app/js/bootstrap-wysihtml5.js"></script>
<script src="app/js/chosen.jquery.min.js"></script>
<script src="app/js/jquery.validate.min.js"></script>
<script src="app/js/custom.js"></script>
<script>
var userType = $('select#userType').val(); 
function checkValidate(){
	var username = $('#username').val();
	var password = $('#password').val();
	var userType = $('select#userType').val();
	if(userType == ""){	
		alert("Please select your portal to proceed");
		document.form2.userType.focus();
		return false;
	}
	else if(username == ""){	
		alert("Please enter your Username");
		document.form2.username.focus();
		return false;
	}
	else if(password == ""){	
		alert("Please enter your Password");
		document.form2.password.focus();
		return false;
	}
	
	if(username == "admin" && password == "admin" && userType == "admin"){	
		window.location = 'app/Admin/dashboard.html';
		return false;
	}
	else if(username == "ent" && password == "ent" && userType == "entrepreneur"){	
		window.location = 'app/Entrepreneur/dashboard.html';
		return false;
	}
	else{
		alert('Invalid credentials');
		document.form2.username.focus();
		return false;
	}
	return true;
}
</script>
</body>
</html>

